.allCharacters{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.character{
    width: calc(90%/2);
    background: dimgray;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}

.textBio{
    width: 400px;
}